html, body {
    left: 0;
    margin: 0;
    background-image: url("../pics/1336125.jpg");
    background-repeat: no-repeat;
    height:100%;
}
  
p{
    font-family:calibri;
    padding-left:10px;
}
  
#container{
    margin: 0 auto;
    width:600px;
    padding-top:50px;
}
  
.one{
    width: 290px;
    height: 284px;
    margin-top: 250px;
    background-image: url("../pics/86-867984_water-wallpaper-for-mac.jpg");
    float:left;
    margin-left: -141px;
    border-radius: 74px;
}

.two{
    width: 290px;
    height: 284px;
    margin-left: 438px;
    margin-top: 250px;
    background-image: url("../pics/86-867984_water-wallpaper-for-mac.jpg");
    overflow: hidden;
    border-radius: 74px;
}

#admin{
    text-align: center;
    margin-top: 120px;
}

#user{
    text-align: center;
    margin-top: 120px;
}